* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  /* background-color: red; */
}

.container {
  /* background-color: green; */
  max-width: 1328px;
  margin-inline: auto;
  padding-inline: 64px;
}

.wrapper {
  /* background-color: blue; */
  padding-block: 64px;
}

.button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(0, 0, 0);
  padding: 8px 34px;
  border-radius: 0px;
  color: white;
  font-weight: 700;
  text-align: center;
}
.button a {
  text-decoration: none;
  color: white;
}
.button--type-text {
  background-color: unset;
  color: cornflowerblue;
  padding-inline: 0;
}

.nav {
  background-color: white;
  color: black;
  font-weight: 700;
  container-type: inline-size;
  container-name: nav;
}
.nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 12px;
}
.nav__menuWrapper {
  display: flex;
  gap: 24px;
  align-items: baseline;
}
.nav .lt680px {
  display: none;
}
@container nav (width < 42.5rem) {
  .nav__menuWrapper {
    display: none;
  }
  .nav .lt680px {
    display: unset;
  }
}

.main h2 {
  color: rgb(245, 112, 134);
  font-size: 50px;
}
.main__media {
  background-color: rgb(240, 150, 150);
  overflow: hidden;
}
.main__media img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#hero2 {
  font-family: "Noto Sans", sans-serif;
  background-color: white;
}
#hero2 .wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}
#hero2 .wrapper > * {
  flex: 1;
}
#hero2 .main__text__buttonWrapper {
  display: flex;
  gap: 16px;
}
#hero2 .main__media {
  aspect-ratio: 5/5;
}
#hero2 h2 {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 16px;
}
#hero2 p {
  font-family: "Noto Sans", sans-serif;
  max-width: 60ch;
  margin-bottom: 24px;
}
@media (width < 53.125rem) {
  #hero2 .wrapper {
    display: block;
    text-align: center;
  }
  #hero2 .wrapper p {
    margin-inline: auto;
  }
  #hero2 .main__text {
    margin-bottom: 2.25rem;
  }
  #hero2 .main__text__buttonWrapper {
    margin-inline: auto;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    justify-content: center;
  }
}

.footer {
  background-color: rgb(97, 94, 95);
  color: white;
  font-size: 0.875rem;
  container-type: inline-size;
  container-name: footer;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer li {
  list-style: none;
}
.footer svg {
  fill: white;
}
.footer .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}
.footer h2 {
  font-size: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}
.footer li {
  margin-bottom: 0.5rem;
}
.footer__logo {
  margin-bottom: 0.75rem;
}
.footer__extLinkWrap {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 0.5rem;
}
@container footer (width < 44.375rem) {
  .footer .column:first-of-type {
    grid-row: 1/span 1;
  }
  .footer .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.navBar__logo {
  height: 36px;
}