* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
}

.section {
  background-color: red;
}

.container {
  background-color: green;
  /* 일정크기이상 안 커지게 만들어줘야함 */
  max-width: 1200px;
  /* 가운데정렬 */
  /* margin-left: auto;
  margin-right: auto; */
  /* 이것도 좋긴한데 2줄입력이라 뭔가 귀찮음.. 이때 inline(좌우의값) 속성을 붙이면 됨 */
  margin-inline: auto;
  padding-inline: 24px;
}

.wrapper {
  background-color: blue;
  /* 귀찮은방법..
  padding: 64px 0;
  padding-top: 64px;
  padding-bottom: 24px; */
  padding-block: 64px;
}
